

@media (max-width:992px) {
    label[for="MenuIcon"] {
        height: 20px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    label[for="MenuIcon"]>span {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 5px;
    }

    ul.mobile-view {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        right: 0;
        top: -100%;
        position: fixed;
        transition: all 400ms linear;
        z-index: 2;
        gap: 20px;
    }

    input[type="checkbox"]:checked+ul {
        top: 0;
        background-color: black;
    }
}

@media (max-width:1200px) {
    .ml-56{
        margin-left: -70px;
    }

    .card-head{
        font-size: var(--fs-s);
    }

    .card-text{
        font-size: var(--fs-s3);
    }
}

@media (max-width:992px) {
    .col-lg6{
        width: 50%;
    } 

    .mt-lg-41{
        margin-top: 41px;
    }

    .card-head{
        font-size: var(--fs-l1);
    }

    .card-text{
        font-size: var(--fs-s2);
    }
    .col-lg12{
        display: flex; 
        flex-direction: column;
    }
    .justify-lg{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .lg-width{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .collg-12{
        width: 100%;
    }

    .lg-center{
       justify-content: center;
    }

    .lg-overflow{
        overflow: hidden !important;
    }

    .right{ 
        left: 0;
    }

    .text-end{
        text-align: start !important;
    }

    .ml-56{
        margin-left: 0;
    }

    .timeline-l-text{
        font-size: var(--fs-l);
    }

    .acc-box{
        width: 100%;
    }

    .justify-lg-center{
        justify-content: center !important;
    }

    .text-lgcenter{
        text-align: center;
    }

    .f-content{
        width: 100%;
    }

}

@media (max-width:768px) {
    .col-md12{
        width: 100%;
    }

    .mb-md-41{
        margin-bottom: 41px;
    }

    .main-head {
        max-width: 450px;
        font-size: var(--fs-l2);
    }
    
    .b-main-head {
        font-size: var(--fs-l2);
    }

    .main-para{
        font-size: var(--fs-s1);
    }

    /* .md-align{
        top: -15px;
    } */

    .md-align1{
        top: 140px;
    }

    .md-align2{
        top: 280px;
    }

    .timeline-head{
        font-size: 24px;
    }

    .sm-line{
        left: 10px;
    }

    .sm-line-dot{
        left: -21px;
    }
}

@media (max-width:576px) {

    .md-align1{
        top: 100px;
    }

    .md-align2{
        top: 210px;
    }

    .timeline-head{
        font-size: var(--fs-m);
    }

    .timeline-content{
        width: 300px;
        font-size: var(--fs-s3);
    }
}

