@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

:root{
    /* FONT-SIZE */
    --fs-s3: 14px;
    --fs-s2: 16px;
    --fs-s1: 18px;
    --fs-s: 20px;
    --fs-m: 21.7px;
    --fs-l: 25px;
    --fs-l1: 30px;
    --fs-l2: 50px;
    --fs-l3: 70px;
}

.bg-image {
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pt-10{
    padding-top: 10px;
}

.gap-80 {
    gap: 80px;
}

.logo-font {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.py-26 {
    padding-top: 26px;
}

.link-font {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s1);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-head {
    max-width: 515px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l3);
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
}

.b-main-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l3);
    font-style: normal;
    font-weight: 700;
    line-height: 124%;
}

.main-para {
    width: 547px;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
}

.py-content {
    padding-top: 261px;
}

.btn1 {
    padding: 16px 40px 15px 41px;
    border-radius: 45.5px;
    background: #FFF;
    color: #001D49;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    transition: all 200ms ease-in;
}

.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.bg-color {
    background-color: #000A1A;
}

.S2-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.S2-content {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 500;
    line-height: 136%;
}

.del-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    opacity: 0.5;
}

.head-blur {
    height: 460px;
    background: linear-gradient(180deg, rgba(0, 10, 26, 0.00) 0%, #000A1A 100%);
}

.mt-156 {
    margin-top: 156px;
}

.fd-col {
    flex-direction: column;
}

.space-content {
    padding-top: 48px;
}


.pt-21 {
    padding-top: 21px;
}

.mb--4 {
    margin-bottom: -4px;
}

.mt-47 {
    margin-top: 47px;
}

.pt-221 {
    padding-top: 221px;
    padding-bottom: 40px;
}

.mb-6{
    margin-bottom: 6px;
}

.btn2 {
    padding: 10px 20px;
    color: #001D49;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 45.5px;
    background: #FFF;
    border: none !important;
    transition: all 200ms ease-in;
}

.mt-52 {
    margin-top: 52px;
}

.card {
    height: 511px;
    border-radius: 20px;
    background: #031227;
}

.img-size {
    width: 117px;
    height: 145px;
}

.pt-121 {
    padding-top: 121px;
}

.pt-138 {
    padding-top: 138px;
}

.card-padding {
    padding: 40px;
}

.card-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
    /* width: 347px; */
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mt-30 {
    margin-top: 30px;
}

.mt-27 {
    margin-top: 27px;
}

.card-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 600;
    line-height: 100.5%;
}

.mt-44 {
    margin-top: 44px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-41 {
    margin-top: 41px;
}

.pt-131 {
    padding-top: 131px;
}

.time-main-head {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.S3-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.pt-161 {
    padding-top: 161px;
}

.pt-110 {
    padding-top: 110px;
}

.acc-box {
    width: 830px;
}

.acc-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.line-top-0 {
    top: 0;
}

/* .timeline::after {
    content: '';
    position: absolute;
    stroke-width: 2px;
    border:  dashed white;
    stroke-dasharray: 6,50;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
} */
.mt-25 {
    margin-top: 25px;
}

.blue-svg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-light-center {
    left: -31px;
    z-index: 2;
}

.pb-200 {
    padding-bottom: 200px;
}

.top-50 {
    top: 50%;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.timeline-content {
    width: 404px;
    opacity: 0.7;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 182.5%;
}

.top25 {
    top: 130px;
}

.top50 {
    top: 250px;
}


.left {
    left: 0;
}

.right {
    left: 50%;
}

.content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
}

.mb-26 {
    margin-bottom: 26px;
}

.ml-56 {
    margin-left: 56px;
}

.pt-47 {
    padding-top: 47px;
}

.acc-text-color {
    color: white;
}

.bg-fill {
    background-color: #031227;
    color: white;
}

.acc-border {
    border-radius: 150px !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url("../images/Vector.png") !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion {
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
    --bs-accordion-border-width: 0px;
}

.acc-ques-color {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mt-300{
    margin-top: 300px;
    margin-bottom: 0px;
}

.timeline-l-text {
    width: 786px;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.z-index-0 {
    z-index: 0;
}

.S1-light-right {
    right: 0%;
}

.light-top-0 {
    top: -90%;
}

.light-top-50 {
    top: -30%;
}

.bg-light-gif {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.z-index-1 {
    z-index: 1;
}

.acc-content-color {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.accordion-button:not(.collapsed) {
    color: white
}

.line-size {
    height: 300px;
}

.team-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.team-box {
    width: 1012px;
}

.team-box-head {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 600;
    line-height: 136%;
}

.team-box-text {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s1);
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
}

.mt-32 {
    margin-top: 32px;
}

.bg-wave {
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.f-head {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l2);
    font-style: normal;
    font-weight: 600;
    line-height: 124%;
}

.f-head1 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-l1);
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
}

.f-head2 {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.f-links {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s3);
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
}

.f-content {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.7;
}

.f-mail {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s2);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.pt-30 {
    padding-top: 30px;
}

.pt-126 {
    padding-top: 126px;
}

.btn1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none !important;
}